.tableOne {
    border-bottom: 3px solid black;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
      }
.tableTwo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
.imagen {
    height: 200px;
    width: 500px;
}
.botton, thead {
    border: 5px solid black;
    text-align: center;
    background: none;
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    }
    .table, tbody {
        border: 5px solid black;
        text-align: left;  
        border-bottom: 4px solid black;  
    }